/* @font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), local("RobotoMono-Regular"), url("/Roboto-Mono-Regular.woff2") format("woff2");
  } */

@font-face {
    font-family: "Mostwasted";
    src: url("Mostwasted.ttf") format('truetype');
  }


  html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    color: #ccc;
    letter-spacing: 1px;
    font-size: 1.25em;
    font-family: "Roboto Mono";
    font-family: "Mostwasted", Arial, Helvetica, sans-serif;
  }

  body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body>br {
    display: block;
    margin-bottom: 2em;
  }

  main {
    position: relative;
    width: 100%;
    height: 100%;

  }

  section {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11vh 9vw;
    width: 100%;
    height: 100%;
  }


 
